#preloader {
  background: #0a192f url(images/square2-loading.gif) no-repeat center center;
  background-size: 20%;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

* {
  font-family: "Poppins", sans-serif;
}

p {
  color: #8892b0;
}

li h2 {
  color: #ccd6f6;
}

body {
  background-color: blue;
}

nav {
  z-index: 100;
}

.freecode {
  color: #64ffda;
}

.hhh h3 {
  font-size: medium;
  font-weight: 500;
  color: #64ffda;
}
.hhh h2 {
  font-weight: 600;
  font-size: x-large;
  color: #ccd6f6;
}

.a-1 {
  background-image: url("images/github-24.png");
  margin-right: 1em;
}
.a-1:hover {
  background-image: url("images/hover--github-24.png");
}

.a-2 {
  background-image: url("images/share-24.png");
}
.a-2:hover {
  background-image: url("images/hover-share-24.png");
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 275px) {
  body {
    position: relative;
    width: 100%;
    padding: 0;
    background-color: #0a192f;
  }
  .container {
    width: 100%;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  nav {
    background-color: #0a192f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 6em;
    transition: top 0.5s ease;
  }
  nav #b-logo {
    width: 3em;
    padding: 0;
    border: 0.2em solid #64ffda;
    position: absolute;
    left: 1.5em;
    bottom: 1em;
  }
  nav #nav-link {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(0.5em);
            backdrop-filter: blur(0.5em);
    width: 100%;
    height: 102vh;
    margin-top: 35em;
    position: fixed;
    transition: 1s;
  }
  nav #nav-link .all-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #112240;
    position: fixed;
    margin-top: 1em;
    right: 0;
    top: 0;
    height: 102vh;
    width: 70%;
  }
  nav #nav-link .all-link .ol {
    margin-top: 30%;
  }
  nav #nav-link .all-link .ol div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  nav #nav-link .all-link .ol div p {
    color: #64ffda;
    margin-bottom: 0.5em;
    margin-top: 2em;
  }
  nav #nav-link .all-link .ol div a {
    color: #ccd6f6;
  }
  nav #nav-link .all-link .cv {
    color: #64ffda;
    border: 0.1em solid #64ffda;
    position: unset;
    margin-top: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    border-radius: 0.3em;
    transition: 0.5s;
  }
  nav #nav-link .all-link .blog {
    color: #64ffda;
    border: 0.1em solid #64ffda;
    position: unset;
    margin-top: 2.5em;
    padding-left: 2.5em;
    padding-right: 2em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    border-radius: 0.3em;
    transition: 0.5s;
  }
  nav .menubar {
    position: absolute;
    right: 1em;
    width: 2em;
    height: 1.5em;
    bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
  }
  nav .menubar .bar1,
  nav .menubar .bar2,
  nav .menubar .bar3 {
    background-color: #64ffda;
    height: 0.1em;
    transition: 0.4s;
  }
  nav .menubar .bar1 {
    width: 100%;
  }
  nav .menubar .bar2 {
    width: 80%;
  }
  nav .menubar .bar3 {
    width: 100%;
  }
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  .intro {
    padding-top: 14em;
    height: 100vh;
  }
  .intro .name {
    color: #64ffda;
    font-size: small;
    font-weight: 500;
    word-spacing: 5px;
    margin-bottom: 1em;
  }
  .intro .name1 {
    color: #ccd6f6;
    font-size: xx-large;
    font-weight: 600;
    line-height: 1.3em;
  }
  .intro .do {
    color: #8892b0;
    font-size: xx-large;
    font-weight: 600;
    line-height: 1.3em;
    margin-bottom: 1em;
  }
  .intro .me {
    color: #8892b0;
    font-size: medium;
  }
  .about {
    position: relative;
    margin-bottom: 7em;
  }
  .about .about-me {
    position: relative;
    margin-top: 10em;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    height: 5em;
  }
  .about .about-me .me {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    height: 5em;
    width: 10em;
    margin-right: 1em;
  }
  .about .about-me .me h3 {
    font-size: medium;
    font-weight: 500;
    color: #64ffda;
  }
  .about .about-me .me h2 {
    font-weight: 600;
    font-size: x-large;
    color: #ccd6f6;
  }
  .about .about-me .line {
    border-top: #8892b0 solid 0.1em;
    width: 50%;
    height: 0.5em;
  }
  .about p {
    font-size: small;
    font-weight: 500;
    margin-bottom: 1.5em;
  }
  .about div .tech {
    width: 100%;
    margin-bottom: 2em;
  }
  .about div .tech .tech-div {
    display: flex;
    justify-content: space-between;
  }
  .about div .tech .techo {
    display: flex;
    width: 50%;
  }
  .about div .tech .techo img {
    width: 0.7em;
    height: 0.7em;
    margin-top: 0.3em;
    margin-right: 0.5em;
  }
  .about .my-img {
    position: relative;
    width: 100%;
  }
  .about .my-img img {
    position: absolute;
    width: 70%;
    height: 100%;
    border-radius: 3%;
    bottom: 1em;
  }
  .about .my-img div {
    height: 30vh;
    width: 70%;
    border: #64ffda solid 0.1em;
    border-radius: 3%;
    margin-left: 1em;
  }
  .projects {
    margin-bottom: 10em;
  }
  .projects .aaa {
    width: 100%;
    height: 100%;
  }
  .projects .project-header {
    display: flex;
    align-items: baseline;
    margin-bottom: 1em;
  }
  .projects .project-header h3 {
    margin-right: 0.5em;
  }
  .projects .project-header h2 {
    line-height: 1.2em;
  }
  .projects .archive {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #64ffda;
    margin-bottom: 3em;
  }
  .projects .project-div .jjj {
    background-color: #112240;
    padding: 1.5em;
    margin-bottom: 1.5em;
  }
  .projects .project-div .jjj .j-icon-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
  }
  .projects .project-div .jjj .j-icon-1 #folder {
    width: 2.4em;
  }
  .projects .project-div .jjj .j-icon-1 div {
    display: flex;
  }
  .projects .project-div .jjj .j-icon-1 div .a-1 {
    width: 3.2em;
    height: 1.5em;
    margin-right: 1em;
  }
  .projects .project-div .jjj .j-icon-1 div .a-2 {
    width: 3.2em;
    height: 1.5em;
  }
  .projects .project-div .jjj h5 {
    color: #a8b2d1;
    margin-bottom: 2em;
  }
  .projects .project-div .jjj .j-tech {
    display: flex;
    font-size: small;
    gap: 2em;
  }
  .projects .project-div h4 {
    margin-bottom: 1em;
    color: #ccd6f6;
    font-size: x-large;
    font-weight: 700;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contacts .contact-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #64ffda;
    margin-bottom: 0.5em;
  }
  .contacts .contact-header h3 {
    margin-right: 0.5em;
  }
  .contacts .touch {
    margin: auto;
    color: #ccd6f6;
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 0.5em;
  }
  .contacts .hello-btn {
    color: #64ffda;
    border: #64ffda solid 0.1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 3em;
    margin-bottom: 7em;
  }
  .contacts footer {
    color: #a8b2d1;
  }
  .contacts footer .ref {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 2em;
  }
  .contacts footer .ref a {
    color: #8892b0;
  }
  .contacts footer .ref a:visited {
    color: #64ffda;
  }
  .contacts .contact-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contacts .contact-link {
    width: 60%;
    margin-bottom: 2em;
  }
  .contacts .contact-link .contact-line {
    display: none;
  }
  .contacts .contact-link li {
    width: 1.5em;
    height: 1.5em;
  }
  .contacts .contact-link .github-l {
    background-image: url("images/github-24.png");
  }
  .contacts .contact-link .github-l:hover {
    background-image: url("images/hover--github-24.png");
  }
  .contacts .contact-link .twitter-l {
    background-image: url("images/AA-twitter.png");
  }
  .contacts .contact-link .twitter-l:hover {
    background-image: url("images/GGG-twitter-24.png");
  }
  .contacts .contact-link .linkedin-l {
    background-image: url("images/linkedin.png");
  }
  .contacts .contact-link .linkedin-l:hover {
    background-image: url("images/G-linkedin.png");
  }
  .archive-header h1 {
    font-size: xx-large;
    color: #ccd6f6;
    font-weight: 700;
  }
  .archive-header p {
    color: #64ffda;
    font-size: small;
  }
  table th {
    color: #a8b2d1;
  }
  table .trrr {
    transition: 0.3s;
  }
  table .trrr:hover {
    background-color: #233554;
  }
  table .year {
    color: #64ffda;
    padding-left: 0.3em;
  }
  table .title {
    font-size: medium;
    font-weight: 600;
    color: #e6f1ff;
  }
  table .build {
    font-size: small;
    font-weight: 400;
    color: #8892b0;
  }
  table .archive-images {
    display: flex;
  }
  table .archive-images .link-archive {
    background-image: url("images/share-24.png");
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
    transition: 0.3s;
  }
  table .archive-images .link-archive:hover {
    background-image: url("images/hover-share-24.png");
  }
  table .archive-images .github-archive {
    background-image: url("images/github-24.png");
    width: 1.5em;
    height: 1.5em;
    transition: 0.3s;
  }
  table .archive-images .github-archive:hover {
    background-image: url("images/hover--github-24.png");
  }
  footer {
    color: #a8b2d1;
  }
  footer .ref {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 2em;
  }
  footer .ref a {
    color: #8892b0;
  }
  footer .ref a:visited {
    color: #64ffda;
  }
  .contact-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-link {
    width: 60%;
    margin-bottom: 2em;
  }
  .contact-link .contact-line {
    display: none;
  }
  .contact-link li {
    width: 1.5em;
    height: 1.5em;
  }
  .contact-link .github-l {
    background-image: url("images/github-24.png");
  }
  .contact-link .github-l:hover {
    background-image: url("images/hover--github-24.png");
  }
  .contact-link .twitter-l {
    background-image: url("images/AA-twitter.png");
  }
  .contact-link .twitter-l:hover {
    background-image: url("images/GGG-twitter-24.png");
  }
  .contact-link .linkedin-l {
    background-image: url("images/linkedin.png");
  }
  .contact-link .linkedin-l:hover {
    background-image: url("images/G-linkedin.png");
  }
}
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding-left: 5em;
    padding-right: 5em;
  }
  nav {
    background-color: #0a192f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 6em;
  }
  nav #b-logo {
    width: 3em;
    padding: 0;
    border: 0.2em solid #64ffda;
    position: unset;
    margin-left: 3em;
    transition: 0.5s;
  }
  nav #b-logo:hover {
    box-shadow: 0.2em 0.2em #64ffda;
    margin-left: 2.8em;
    margin-top: -0.2em;
  }
  nav #nav-link {
    flex-direction: row;
    background-color: unset;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: unset;
    margin-top: unset;
    margin-right: 3em;
    font-size: small;
    position: unset;
  }
  nav #nav-link .all-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: unset;
    position: relative;
    right: 0;
    top: 0;
    height: unset;
    width: 100%;
  }
  nav #nav-link .all-link .ol {
    position: relative;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #a8b2d1;
    margin-right: 0em;
    margin-top: unset;
    margin-top: 0%;
    background-color: unset;
  }
  nav #nav-link .all-link .ol div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-left: 1.5em;
  }
  nav #nav-link .all-link .ol div p {
    color: #64ffda;
    margin-right: 0.5em;
    margin-top: 0;
  }
  nav #nav-link .all-link .ol div a {
    transition: 0.5s;
  }
  nav #nav-link .all-link .ol div a:hover {
    color: #64ffda;
  }
  nav #nav-link .all-link .blog {
    position: absolute;
    right: 7em;
    color: #64ffda;
    border: 0.1em solid #64ffda;
    margin-top: -2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0.3em;
    transition: 0.5s ease;
  }
  nav #nav-link .all-link .blog:hover {
    box-shadow: 0.3em 0.3em #64ffda;
    margin-right: 0.3em;
    margin-top: -2.3em;
  }
  nav #nav-link .all-link .cv {
    position: absolute;
    right: 0;
    color: #64ffda;
    border: 0.1em solid #64ffda;
    margin-top: -2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0.3em;
    transition: 0.5s ease;
  }
  nav #nav-link .all-link .cv:hover {
    box-shadow: 0.3em 0.3em #64ffda;
    margin-right: 0.3em;
    margin-top: -2.3em;
  }
  nav .menubar {
    display: none;
  }
  .intro {
    padding-top: 23em;
    height: 100vh;
  }
  .intro .name {
    color: #64ffda;
    font-size: medium;
    font-weight: 500;
    word-spacing: 5px;
    margin-bottom: 1em;
  }
  .intro .name1 {
    color: #ccd6f6;
    font-size: 3.5em;
    font-weight: 700;
    line-height: 1.3em;
  }
  .intro .do {
    color: #8892b0;
    font-size: 3.5em;
    font-weight: 700;
    line-height: 1.3em;
    margin-bottom: 0.5em;
  }
  .intro .me {
    color: #8892b0;
    font-size: large;
  }
  .about-me {
    display: flex;
    align-items: baseline;
    justify-content: left;
    height: 5em;
  }
  .about-me .me {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    height: 5em;
    width: 9em;
    margin-right: 2em;
  }
  .about-me .me h3 {
    font-size: medium;
    font-weight: 500;
    color: #64ffda;
  }
  .about-me .me h2 {
    font-weight: 600;
    font-size: x-large;
    color: #ccd6f6;
  }
  .about-me .line {
    border-top: #8892b0 solid 0.1em;
    width: 50%;
    height: 0.5em;
  }
  .about {
    margin-bottom: 7em;
  }
  .about p {
    font-size: large;
    font-weight: 500;
    margin-bottom: 1.5em;
  }
  .about p .freecode {
    transform: 0.5s ease;
  }
  .about p .freecode:hover {
    border-bottom: 0.01em solid #64ffda;
    color: #112240;
    background-color: #64ffda;
    font-weight: 700;
    border-radius: 0.2em;
  }
  .about div .tech {
    width: 100%;
    margin-bottom: 2em;
  }
  .about div .tech .tech-div {
    display: flex;
    justify-content: space-between;
  }
  .about div .tech .techo {
    display: flex;
    width: 50%;
  }
  .about div .tech .techo img {
    width: 0.7em;
    height: 0.7em;
    margin-top: 0.3em;
    margin-right: 0.5em;
  }
  .about .my-img {
    position: relative;
    width: 100%;
  }
  .about .my-img img {
    position: absolute;
    width: 70%;
    height: 100%;
    border-radius: 3%;
    bottom: 1.5em;
  }
  .about .my-img div {
    height: 30vh;
    width: 70%;
    border: #64ffda solid 0.1em;
    border-radius: 3%;
    margin-left: 1.5em;
  }
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15em;
  }
  .projects .aaa {
    width: 100%;
    height: 100%;
  }
  .projects .project-header {
    display: flex;
    align-items: baseline;
    margin-bottom: 3em;
  }
  .projects .project-header h3 {
    margin-right: 0.5em;
  }
  .projects .project-header h2 {
    line-height: 1.2em;
  }
  .projects .archive {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #64ffda;
    margin-bottom: 2em;
    width: 10em;
    transition: 0.3s ease;
  }
  .projects .archive:hover {
    text-decoration: underline;
    font-size: medium;
  }
  .projects .project-div {
    display: grid;
    grid-template-areas: "j-01 j-0" "j-1 j-2" "j-3 .";
    grid-gap: 1em;
  }
  .projects .project-div .j--1 {
    grid-area: j-01;
  }
  .projects .project-div .j-0 {
    grid-area: j-0;
  }
  .projects .project-div .j-1 {
    grid-area: j-1;
  }
  .projects .project-div .j-2 {
    grid-area: j-2;
  }
  .projects .project-div .j-3 {
    grid-area: j-3;
  }
  .projects .project-div .jjj {
    position: relative;
    background-color: #112240;
    padding: 1.5em;
    margin-bottom: 0;
  }
  .projects .project-div .jjj .j-icon-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
  }
  .projects .project-div .jjj .j-icon-1 #folder {
    width: 2.4em;
  }
  .projects .project-div .jjj .j-icon-1 div {
    display: flex;
  }
  .projects .project-div .jjj .j-icon-1 div .a-1 {
    width: 3.2em;
    height: 1.5em;
    margin-right: 1em;
  }
  .projects .project-div .jjj .j-icon-1 div .a-2 {
    width: 3.2em;
    height: 1.5em;
  }
  .projects .project-div .jjj h5 {
    color: #a8b2d1;
    margin-bottom: 2em;
    font-size: medium;
  }
  .projects .project-div .jjj .j-tech {
    position: absolute;
    bottom: 1em;
    display: flex;
    font-size: medium;
    gap: 2em;
  }
  .projects .project-div h4 {
    margin-bottom: 1em;
    color: #ccd6f6;
    font-size: x-large;
    font-weight: 700;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contacts .contact-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #64ffda;
    margin-bottom: 1em;
  }
  .contacts .contact-header h3 {
    margin-right: 0.5em;
  }
  .contacts .touch {
    margin: auto;
    color: #ccd6f6;
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 0.5em;
  }
  .contacts p {
    text-align: center;
    line-height: 1.7em;
  }
  .contacts .hello-btn {
    color: #64ffda;
    border: #64ffda solid 0.1em;
    border-radius: 0.3em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 3em;
    margin-bottom: 7em;
  }
  .contacts footer {
    color: #a8b2d1;
    position: relative;
  }
  .contacts footer .ref {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 2em;
  }
  .contacts footer .ref a:visited {
    color: #64ffda;
  }
  .contacts footer .email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 10%;
  }
  .contacts footer .email .email-p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  .contacts footer .email div {
    height: 10em;
    width: 0.01em;
    background-color: #8892b0;
    margin-top: 3em;
  }
  .contacts .contact-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
  .contacts .contact-link {
    height: 30%;
    width: 10%;
    margin-bottom: 2em;
    flex-direction: column-reverse;
    position: fixed;
    bottom: -2em;
    left: 0;
  }
  .contacts .contact-link .contact-line {
    display: block;
    height: 10em;
    width: 0.01em;
    background-color: #8892b0;
  }
  .contacts .contact-link li {
    width: 1.5em;
    height: 1.5em;
  }
  .contacts .contact-link .github-l {
    background-image: url("images/github-24.png");
  }
  .contacts .contact-link .github-l:hover {
    background-image: url("images/hover--github-24.png");
  }
  .contacts .contact-link .twitter-l {
    background-image: url("images/AA-twitter.png");
  }
  .contacts .contact-link .twitter-l:hover {
    background-image: url("images/GGG-twitter-24.png");
  }
  .contacts .contact-link .linkedin-l {
    background-image: url("images/linkedin.png");
  }
  .contacts .contact-link .linkedin-l:hover {
    background-image: url("images/G-linkedin.png");
  }
  .archive-header h1 {
    font-size: xx-large;
    color: #ccd6f6;
    font-weight: 700;
  }
  .archive-header p {
    color: #64ffda;
    font-size: small;
  }
  table th {
    color: #a8b2d1;
  }
  table .year {
    color: #64ffda;
    padding-left: 0.3em;
  }
  table .title {
    font-size: medium;
    font-weight: 600;
    color: #e6f1ff;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 6.5em;
    padding-right: 6.5em;
  }
  nav {
    background-color: #0a192f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 6em;
  }
  nav #b-logo {
    width: 3em;
    padding: 0;
    border: 0.2em solid #64ffda;
    border-radius: 0.3em;
    position: unset;
    margin-left: 3em;
    transition: 0.3s;
  }
  nav #b-logo:hover {
    box-shadow: 0.2em 0.2em #64ffda;
    margin-left: 2.8em;
    margin-top: -0.5em;
  }
  nav #nav-link {
    width: 45%;
  }
  .intro {
    padding-top: 10em;
    height: 100vh;
  }
  .intro .name {
    color: #64ffda;
    font-size: medium;
    font-weight: 500;
    word-spacing: 5px;
    margin-bottom: 1em;
  }
  .intro .name1 {
    color: #ccd6f6;
    font-size: 4.5em;
    font-weight: 600;
    line-height: 1.3em;
  }
  .intro .do {
    color: #8892b0;
    font-size: 3em;
    font-weight: 600;
    line-height: 1.3em;
    margin-bottom: 0.5em;
  }
  .intro .me {
    color: #8892b0;
    font-size: large;
    width: 65%;
  }
  .about-me {
    display: flex;
    align-items: baseline;
    justify-content: left;
    height: 5em;
    width: 50%;
  }
  .about-me .me {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    height: 5em;
    width: 13em;
    margin-right: 2em;
  }
  .about-me .me h3 {
    font-size: large;
    font-weight: 500;
    color: #64ffda;
  }
  .about-me .me h2 {
    font-weight: 600;
    font-size: xx-large;
    color: #ccd6f6;
  }
  .about-me .line {
    border-top: #8892b0 solid 0.1em;
    width: 50%;
    height: 0.5em;
  }
  .about {
    position: relative;
    margin-bottom: 7em;
  }
  .about .tx-about,
  .about .tx-about2,
  .about .div-tech {
    width: 55%;
  }
  .about p {
    font-size: medium;
    font-weight: 500;
    margin-bottom: 1.5em;
  }
  .about div .tech {
    width: 100%;
    margin-bottom: 2em;
  }
  .about div .tech .tech-div {
    display: flex;
    justify-content: space-between;
  }
  .about div .tech .techo {
    display: flex;
    width: 50%;
  }
  .about div .tech .techo p {
    font-size: x-small;
  }
  .about div .tech .techo img {
    width: 0.7em;
    height: 0.7em;
    margin-top: 0.3em;
    margin-right: 0.5em;
  }
  .about .my-img {
    position: absolute;
    top: 7em;
    right: 0;
    width: 40%;
    height: 50%;
    transition: 0.3s;
  }
  .about .my-img:hover {
    width: 40.5%;
    height: 50.5%;
  }
  .about .my-img img {
    position: absolute;
    width: 70%;
    height: 100%;
    border-radius: 3%;
    bottom: 1.5em;
  }
  .about .my-img div {
    height: 30vh;
    width: 70%;
    height: 100%;
    border: #64ffda solid 0.1em;
    border-radius: 3%;
    margin-left: 1.5em;
    transition: 0.3s;
  }
  .about .my-img div:hover {
    margin-left: 1.7em;
    margin-top: 0.2em;
  }
  .projects {
    margin-bottom: 10em;
  }
  .projects .aaa {
    width: 100%;
    height: 100%;
  }
  .projects .project-header {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 1em;
  }
  .projects .project-header h3 {
    font-size: large;
    margin-right: 0.5em;
  }
  .projects .project-header h2 {
    font-size: xx-large;
    line-height: 1.2em;
  }
  .projects .archive {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #64ffda;
    margin-bottom: 2em;
    word-spacing: 0.4em;
  }
  .projects .project-div {
    display: grid;
    grid-template-areas: "j-01 j-0 j-1" "j-2 j-3 .";
    grid-gap: 1em;
  }
  .projects .project-div .j--1 {
    grid-area: j-01;
  }
  .projects .project-div .j-0 {
    grid-area: j-0;
  }
  .projects .project-div .j-1 {
    grid-area: j-1;
  }
  .projects .project-div .j-2 {
    grid-area: j-2;
  }
  .projects .project-div .j-3 {
    grid-area: j-3;
  }
  .projects .project-div .jjj {
    cursor: pointer;
    position: relative;
    background-color: #112240;
    padding: 1.5em;
    border: 0.2em solid #112240;
    transition: 0.3s;
  }
  .projects .project-div .jjj:hover {
    border: 0.2em solid #233554;
  }
  .projects .project-div .jjj .j-icon-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
  }
  .projects .project-div .jjj .j-icon-1 #folder {
    width: 2em;
  }
  .projects .project-div .jjj .j-icon-1 div {
    display: flex;
  }
  .projects .project-div .jjj .j-icon-1 div .a-1 {
    width: 3.2em;
    height: 1.5em;
    margin-right: 1em;
    transition: 0.3s;
  }
  .projects .project-div .jjj .j-icon-1 div .a-2 {
    width: 3.2em;
    height: 1.5em;
    transition: 0.3s;
  }
  .projects .project-div .jjj h5 {
    color: #a8b2d1;
    margin-bottom: 2em;
    font-size: small;
  }
  .projects .project-div .jjj .j-tech {
    position: absolute;
    bottom: 1em;
    display: flex;
    font-size: small;
    gap: 2em;
  }
  .projects .project-div h4 {
    margin-bottom: 1em;
    color: #ccd6f6;
    font-size: large;
    font-weight: 700;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contacts .contact-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #64ffda;
    margin-bottom: 1em;
  }
  .contacts .contact-header h3 {
    margin-right: 0.5em;
  }
  .contacts .touch {
    margin: auto;
    color: #ccd6f6;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 0em;
  }
  .contacts p {
    width: 70%;
    text-align: center;
    line-height: 1.7em;
  }
  .contacts .hello-btn {
    color: #64ffda;
    border: #64ffda solid 0.1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 5em;
    transition: 0.5s;
  }
  .contacts .hello-btn:hover {
    background-color: #64ffda;
    color: #0a192f;
    font-weight: 400;
  }
  .contacts footer {
    color: #a8b2d1;
    position: relative;
  }
  .contacts footer .ref {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 2em;
  }
  .contacts footer .ref a {
    color: #a8b2d1;
    transition: 0.3s ease;
  }
  .contacts footer .ref a:hover {
    color: #a8b2d1;
  }
  .contacts footer .email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 10%;
  }
  .contacts footer .email .email-p {
    font-size: small;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transition: 0.3s ease;
  }
  .contacts footer .email .email-p:hover {
    color: #64ffda;
  }
  .contacts footer .email div {
    margin-right: 0.3em;
    height: 10em;
    width: 0.01em;
    background-color: #8892b0;
    margin-top: 1em;
  }
  .contacts .contact-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
  }
  .contacts .contact-link {
    height: 50%;
    width: 10%;
    margin-bottom: 2em;
    flex-direction: column-reverse;
    position: fixed;
    bottom: -2em;
    left: 0;
  }
  .contacts .contact-link .contact-line {
    display: block;
    height: 10em;
    width: 0.01em;
    background-color: #8892b0;
  }
  .contacts .contact-link li {
    width: 1.5em;
    height: 1.5em;
  }
  .contacts .contact-link .github-l {
    background-image: url("images/github-24.png");
    transition: 0.3s ease;
  }
  .contacts .contact-link .github-l:hover {
    background-image: url("images/hover--github-24.png");
    margin-right: 0.5em;
  }
  .contacts .contact-link .twitter-l {
    background-image: url("images/AA-twitter.png");
    transition: 0.3s ease;
  }
  .contacts .contact-link .twitter-l:hover {
    background-image: url("images/GGG-twitter-24.png");
    margin-right: 0.5em;
  }
  .contacts .contact-link .linkedin-l {
    background-image: url("images/linkedin.png");
    transition: 0.3s ease;
  }
  .contacts .contact-link .linkedin-l:hover {
    background-image: url("images/G-linkedin.png");
    margin-right: 0.5em;
  }
  .archive-header h1 {
    font-size: xx-large;
    color: #ccd6f6;
    font-weight: 700;
  }
  .archive-header p {
    color: #64ffda;
    font-size: small;
  }
  table th {
    color: #a8b2d1;
  }
  table .year {
    color: #64ffda;
    padding-left: 0.3em;
  }
  table .title {
    font-size: medium;
    font-weight: 600;
    color: #e6f1ff;
  }
  .blog-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
  }
  .blog-section h1 {
    color: #64ffda;
    font-size: 4em;
    font-weight: 700;
    margin-left: 0.5em;
    margin-bottom: 1em;
  }
  .blog-section #blog-card {
    background-color: #233554;
    width: 50%;
    height: 50%;
    padding: 2em;
    margin: 1em;
    border-radius: 1em;
    transition: ease 0.3s;
  }
  .blog-section #blog-card:hover {
    background-color: #112240;
    padding: 2.3em;
  }
  .blog-section #blog-card a {
    font-size: larger;
    font-weight: 700;
    color: #ccd6f6;
    transition: ease 0.3s;
  }
  .blog-section #blog-card a:hover {
    color: #64ffda;
  }
  .blog-section #blog-card div {
    margin-top: 2em;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .blog-section #blog-card div p {
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .my-img {
    position: absolute;
    top: 7em;
    right: 0;
    width: 40%;
    height: 100%;
    transition: 0.3s;
  }
  .my-img:hover {
    width: 40.5%;
    height: 30.5%;
  }
  .my-img img {
    position: absolute;
    width: 70%;
    height: 100%;
    border-radius: 3%;
    bottom: 1.5em;
  }
  .my-img div {
    height: 30vh;
    width: 70%;
    height: 100%;
    border: #64ffda solid 0.1em;
    border-radius: 3%;
    margin-left: 1.5em;
    transition: 0.3s;
  }
  .my-img div:hover {
    margin-left: 1.7em;
    margin-top: 0.2em;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}/*# sourceMappingURL=styles.css.map */